<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <title>Shoe Distributor</title>
  </head>
  <body>
    <div class="container">
      <h1>Shoe Distributor</h1>
      <%= yield %>
    </div>
  </body>
</html>
